[2017-07-09 16:50] carlolf opened #1 "Documentation for a compile only project"
I think there is a mismatch between the description of the project type "compile-only" and the example code for this type. This type will not create a WAR, but just invoke the GWT compiler to translate and output. So in the example there should be no "apply plugin: 'war'". And therefore it should also be "apply plugin: 'gwt-compiler'", not "apply plugin: 'gwt".

BTW: I did not really understand th

[2017-07-09 16:54] sriharshachilakapati opened #2 "java.io.IOException while compiling: CreateProcess error=206, The filename or extension is too long"
I'm compiling my game engine's GWT backend and test project with your plugin, and upgrading to GWT 2.8.1 from 2.8.0-beta1. Now I get this very strange exception.

[code]

The complete error can be found here: https://gist.github.com/sriharshachilakapati/2731cbe954acdccc4e36944421f15cc8

In case you need to look at my source: https://github.com/sriharshachilakapati/SilenceEngine/
(Everything is in

[2017-07-09 21:01] niloc132 commented on #2
Sorry I missed you in IRC - yes, this is likely nothing to do with gradle (except for the change in the plugin version possible). Instead, you are running gwt in the mode of forking a new JVM to build permutations, and apparently the forked process's args or some such make windows cry.

Workaround 1: don't use windows ;).

Workaround 2: Switch out of forking the JVM to just running threads. Set th

[2017-07-10 04:41] jiakuan commented on #1
The documentation was just migrated from the old one. I've assigned this one to myself, and will review and improve this part.

Any pull requests and suggestions are welcome.

[2017-07-10 04:42] jiakuan commented on #2
Yeah, this one seems not something related to Gradle.

[2017-07-10 08:58] sriharshachilakapati commented on #2
@niloc132 I really love to avoid windows, but I can't because of college. By the way, your workaround worked perfectly, thanks for that. I just had to set the JVM Args.

[code]

I also traced this problem in the GWT code, it is how GWT is creating worker processes and assigning classpath to them. The error at [ExternalPermutationWorkerFactory.java:264](https://github.com/gwtproject/gwt/blob/master

[2017-07-10 09:03] #2 closed

[2017-07-10 13:22] niloc132 commented on #2
Hate to post on an already closed issue, but did ExternalPermutationWorkerFactory.java change in that way, or perhaps your classpath did when changing version?

Even if you dont set up a [change](https://gwt.googlesource.com/gwt/) for GWT, do [file an issue](https://github.com/gwtproject/gwt/issues/new) with the specifics you have so far.

[2017-07-10 17:51] sriharshachilakapati opened #3 "Warning on running with Gradle 4.1 Milestone 1"
When compiling with Gradle 4.1 Milestone 1, I get this warning:

I haven't verified this on older gradle versions because the android alpha plugin we were using in one of my other sibling projects.

[2017-07-10 18:28] carlolf commented on #3
I myself stumbled on this warning when I tried Gradle 4.0. I asked on the Gradle forum and you can read on this thread: [(https://discuss.gradle.org/t/gradle-4-0-warning-what-is-this/23004)]

[2017-07-10 18:37] carlolf commented on #3
A grep showed the deprecated code in GwtBasePlugin.java at line #272.

[2017-07-10 23:09] jiakuan opened #4 "Review and add more compiler options of GWT 2.8.0+"
Need to review the latest "GWT Compiler Options" section on this page:
http://www.gwtproject.org/doc/latest/DevGuideCompilingAndDebugging.html

[2017-07-11 00:55] jiakuan commented on #3
@carlolf Thanks for the detail information. I've replaced the deprecated code and released 1.0.1 to Maven central, which should be available in few hour.

Please try and let me know if it works.

[2017-07-11 17:23] carlolf commented on #3
Hi Jake, thanks for your immediately reaction; as expected, the release 1.0.1 worked fine.

Today I convinced our project lead to switch from "de.richsource" to "org/wisepersist", after rebuildung our GWT application.

[2017-07-11 19:08] sriharshachilakapati commented on #3
Thanks @jiakuan, I can confirm this gets me rid of this warning as well. I think this could be closed now.

[2017-07-11 19:08] #3 closed

[2017-07-12 13:59] Haratsu opened #5 "missing dependencies when using gwt-gradle-plugin and eclipse plugin"
Hello Jake,

thanks for taking the task of maintaining the gwt gradle plugin. For some time (even in 0.6 (didn't try previous versions)) I have recognized an issue when applyiong gradles 'eclipse' plugin in conjunction with 'gwt-gradle-plugin'. (see  [gwt-gradle-plugin-issue-sample.zip](https://github.com/jiakuan/gwt-gradle-plugin/files/1142152/gwt-gradle-plugin-issue-sample.zip) )

Reproduce: (us

[2017-07-12 14:41] jiakuan commented on #5
I haven't used Eclipse for a long time after I switched to IntelliJ IDEA.

Please feel free to have a look at the source code and see if you can fix the issue and submit a pull request. Should be only a couple of classes related to Eclipse plugin.

I will have a look too when I have a chance.

[2017-07-12 14:57] Haratsu commented on #5
Alright, I'll take a look, did you have some requirements on coding conventions document somewhere? Didn't see a link in the contributions sections

[2017-07-12 15:25] jiakuan commented on #5
The Overview page here http://gwt-gradle-plugin.documentnode.io/ has a section "How to Contribute", which included some simple steps. We can always discuss more in pull requests.

As this was forked from another old repo, no specific standard/convention yet.

[2017-07-12 17:05] carlolf commented on #5
Hagen: Although Gradle plugin (Buildship) has some minor problems for us, it works.
We have `apply plugin: 'eclipse' ` and we have ` apply plugin: 'gwt'` in the build.gradle.  I think you should remove your project from the workspace and then reimport it: But you have to import it as a Gradle project.

Buildship of course does know nothing about the "GWT-nature" of projects. Thererfore, at least u

[2017-07-15 00:12] jiakuan commented on #1
I've added fixes for the example of 'compile only' projects.

Regarding the difference between 'gwt-base' and 'gwt-compiler', I added this section in the document page (http://gwt-gradle-plugin.documentnode.io/setup-and-configuration/project-types.html):

## Library Project (gwt-base) vs Compile Only (gwt-compiler)

Here is the difference between 'gwt-base' and 'gwt-compiler':

* The **gwt-base**

[2017-07-16 03:50] #1 closed

[2017-07-18 08:01] TwoStone opened #6 "Natures and buildcommands for eclipse do not work with gwt-eclipse-plugin V3"
At the moment the gwt-gradle-plugin applies the GWTNature and the WebProjectValidator and GwtProjectValidator buildCommands to eclipse projects.
Unfortuneatly with V3 of the [gwt-eclipse-plugin](https://github.com/gwt-plugins/gwt-eclipse-plugin) the ids of the nature and the buildcommands were change from com.google.gwt... to com.gwtplugins.gwt...

To work with the new version of the gwt-eclipse-p

[2017-07-18 08:46] jiakuan commented on #6
Thanks for reporting this issue. As I don't use Eclipse, it'd be great if you could test in Eclipse with you fixes, and then create a new pull request.

I will then merge and release a new version to Maven central.

Anyway, will have a look too when I have a chance.

[2017-07-18 17:41] carlolf commented on #1
I think this sentence should be clarified. I do _not_ think that developping a JavaScript library is a typical example. In our application we do have several  GWT subprojects, on which our main GWT module depends. Some of them have entry points, some have just GWT code used as library. So, we are using the `gwt` plugin just in this main subproject, and we assigned the plugin `gwt-compiler` or even

[2017-07-18 19:00] Haratsu commented on #5
Hi carlolf,

sorry for the delay, but i tried to dive into providing some reuseable integration tests to reproduce the issue. So far I can tell you are right that this is more a buildship issue than a gwt-gradle-plugin issue.

In my opnion it should be configurable if `org.wisepersist.gradle.plugins.gwt.GwtEclipsePlugin` is applied or not although gradles eclipse plugin is applied (enabled by defa

[2017-07-18 20:12] Haratsu commented on #5
Just recgnized while reviewing the gradle plugins source, that everything I need to get my build running is already there. Using the following configuration solved my incomplete .classpath files while importing via buildship:

[code]

I'll keep an eye on buildship and will try to provide the above mentioned tests as soon as possible.

For now I'll close this issue as there is a workaround.

[2017-07-18 20:12] #5 closed

[2017-07-19 09:00] carlolf commented on #5
Hi @Haratsu ,
Just tried your solution
`eclipse { addGwtContainer=false}`
Did not work for me. In my Gradle dependencies I have the GWT libraries, and I can see them in "gradleclasspathcontainer".
Still, Eclipse / GWT-Eclipse plug says :

[2017-07-19 12:02] Haratsu commented on #5
@carlolf :
A colleague of mine had this phenomena a few weeks ago. It could be solved with the following steps:

1. uninstall eclipse GWT plugin and SDK installed via manuall selecting an update site (e.g. 2.x)
2. restart eclipse
3. reinstall GWT plugin (currently 3.0.0.201703272136) (without SDKs) via market place (use the checkboxes to disable SDK install)
4. restart eclipse and reimport the gra

[2017-08-30 01:23] dbaq opened #7 "how to generate i18n"
hey @jiakuan,

Thanks for maintaining this plugin. Do you know if there is an easy way to generate the i18n files?

Thanks

[2017-08-30 23:52] jiakuan commented on #7
Hi @dbaq I didn't use this kind of generating tools before. Could you please explain more how should it work? Perhaps we could add the feature in this plugin, so that it can do it automatically?

[2017-08-31 00:10] jiakuan commented on #7
I see. It creates I18N interfaces for constants and messages files, which should be very helpful.

https://gwt-maven-plugin.github.io/gwt-maven-plugin/user-guide/i18n.html
http://www.gwtproject.org/doc/latest/RefCommandLineTools.html#i18nCreator

Should be not hard to add to this plugin, as GWT already has the command line tool. Also we may be able to refer the code in gwt-maven-plugin. Any pull r

[2017-09-08 10:10] carlolf commented on #7
Somewhat related to this, somewhat off topic, but maybe someone can answer this question: Is there a way to have the GWT-Compiler read the results of a property file, which was processed by Gradle in the processResources task ? Instead of processing the source property file?

We are trying to produce a version info in each build, where the build version is a Gradle property allowing Gradles proces

[2017-09-14 00:02] jiakuan commented on #7
This plugin provides gwtCompile task to actually compile GWT code. So I think the direction would be to check if you can configure in Gradle so that gwtCompile task can depend on processResources or at least run after processResources.

[2017-09-20 12:25] pratikpparikh opened #10 "Gradle Build->compileGWT does not generate *.nocache.js"
Dear Author,

     Why does the compileGWT does not generate *.nocache.js the only way it generates it if i do gwtDev which does not work for production release.

Regards,
Pratik Parikh

[2017-10-10 19:20] mtmmtm9 opened #11 "How do I generate async interfaces ?"
When using the maven plugin i use:                              <goal>generateAsync</goal>
How can that be done using this gradle-plugin ?

[2017-10-11 00:10] jiakuan commented on #11
Looks like we don't have this feature in gwt-gradle-plugin yet.
We may be able to refer to the source code of Maven GWT plugin, and create a new task in this gradle plugin.

[2017-12-13 23:19] JamesXNelson opened #13 "Super dev mode does not add logLevel flag"
This has been broken in original plugin a long time.  Would be nice to see this incredibly useful feature wired up... :-/

[2017-12-13 23:47] jiakuan commented on #13
I will try to have a look during the holiday.
Any pull requests are welcome.

[2017-12-14 00:01] JamesXNelson commented on #13
https://github.com/jiakuan/gwt-gradle-plugin/pull/14

[2017-12-16 06:59] jiakuan commented on #13
Have merged and released a new version 1.0.5 to Maven central.
Thanks!

[2017-12-16 06:59] #13 closed

[2017-12-16 07:31] jiakuan commented on #10
I didn't see this issue in latest gwt-gradle-plugin 1.0.5, please try again.
If you still see the issue, then please share all your gradle configuration related to gwt.

[2017-12-16 07:31] #10 closed

[2017-12-16 07:32] jiakuan commented on #6
Looks like this one has been done.

[2017-12-16 07:32] #6 closed

[2018-01-07 23:56] shabunc opened #15 "Support for multimodule project"
In the project from which one this particular project has been forked there [was an issue](https://github.com/steffenschaefer/gwt-gradle-plugin/issues/43) with supporting multimodule gwt project (one where something in *.gwt.xml  declaration inherits from different module).

up to that moment there was no solution other then explicitly add all gwt dependencies to the classpath which is non-ideal s

[2018-01-08 01:11] jiakuan commented on #15
No I don’t think there are any chances in this regard.

In Gradle multiple-project structure, I normally use the project dependency configuration and didn’t see any problems. Perhaps I didn’t understand this issue properly.

Is there a sample project to play with?

[2018-01-12 07:56] TwoStone opened #16 "Version 1.0.4 breaks compatibility with GWT < 2.8.0"
Since release 1.0.4 the plugin is no longer compatible with GWT SDK versions before 2.8 as it always adds the nogenerateJsInteropExports argument to the gwt compile tasks.

Running the same project with the plugin in version 1.0.3 finished successful.

**Actual behaviour:**
Using GWT SDK 2.7.0 the compile task fails with "Unknown argument: -nogenerateJsInteropExports"

**Expected:**
The compile ta

[2018-01-12 09:01] jiakuan commented on #16
May need to add a version check before the new argument.

Pull requests are welcome.

[2018-03-01 14:05] ferencz1 commented on #7
Hello all,
is **i18n** included now as **generate Async** interface (https://gwt-maven-plugin.github.io/gwt-maven-plugin/user-guide/async.html)?

We are migrating from maven to gradle and we are missing those two "tasks". I was searching on internet and couldn't find solution for gradle.
Tnx

[2018-03-01 14:09] ferencz1 commented on #11
+1 for this feature

[2018-03-04 13:00] bronogard commented on #16
@TwoStone did you have a chance to try the newest version yet, if so can we close this issue?

[2018-03-04 20:09] TwoStone commented on #16
Will check it tomorrow at work

[2018-03-27 10:26] patton73 opened #18 "Provide capability to build a fatjar to use with embedded jetty or similar."
Right now is not clear if gwt plugin is able to generate a fatjar instead of a war file.
If not can you provide this capability?
Thanks.

[2018-03-28 01:02] jiakuan commented on #18
There are a few gradle plugins for generating fat jars, I think that’s not something the gwt plugin should do?

[2018-04-27 17:11] mavek87 opened #19 "How can I add JsInterop export?"
Hi, please how can I add the "generateJsInteropExports" flag to the gwt compiler in my build.gradle? Is it possible to export JsType in javascript with this plugin?

//        includeJsInteropExport = true        // doesnt work
//        generateJsInteropExports = true    // doesnt work
//        JsInteropMode = "JS_RC"               // doesnt work

   compiler {
        localWorkers = 2
        o

[2018-04-27 17:58] TDesjardins commented on #19
Would be nice to have this in the documentation.

[2018-05-03 07:20] mavek87 commented on #19
Still not able to do it. Please can you answer me if exporting jsinterop is a possible operation using this plugin and how can I do it?

[2018-05-03 09:05] TDesjardins commented on #19
Works for me with the following code:
[code]

[2018-05-06 05:04] TDesjardins commented on #19
@mavek87 The params includePatterns and excludePatterns will be directly passed to the GWT compiler. The values should appear in the compiler call. Package name with wildcard is a valid option. See https://github.com/gwtproject/gwt/commit/9eda5dc418f9bdfef2fd21c6113e48dd10672beb

[2018-06-18 05:31] bronogard commented on #16
@TwoStone did you succeed at work testing this release?

[2018-07-18 14:14] gkresic commented on #15
Maybe at least add to examples that equivalent of

`evaluationDependsOn(':example-library')`

is required in top level project, or otherwise gwt declaration won't be evaluated properly. @shabunc mentioned that in comment on above issue.

[2018-10-18 12:38] bronogard commented on #16
@TwoStone I want to close this issue but only if you have no problems with the latest release.

[2018-10-29 05:54] varnerac opened #20 "Inheritance"
I've inherited a GWT project that makes heavy use of inheritance.

When I configure the `build.gradle` with:

[code]

where `Alert.gwt.xml`

[code]

and `BaseOne.gwt.xml`

[code]

It seems like the changing the order can make some the first errors go away, but a deeply nested inheritance structure won't work.

[2018-10-29 06:13] #20 closed

[2019-02-13 11:12] marty-cz opened #21 "Add Gradle 5.2.x support"
Hi jiakuan,

first of all, thank you for maintaining this project ;)

I would like to use the plugin with Gradle 5 but there is at least one problem in the code since the Gradle API was changed.
[code]

https://docs.gradle.org/current/userguide/upgrading_version_4.html (from 4.x to 5.0)
https://docs.gradle.org/current/userguide/upgrading_version_5.html (from 5.0 to 5.2.X)

Can you take a look plea

[2019-02-13 11:56] jiakuan commented on #21
Hi Martin, Thanks for reporting this issue. I will have a look tomorrow.

[2019-02-13 11:56] #18 closed

[2019-02-14 03:50] jiakuan commented on #21
@marty-cz I've upgraded to Gradle 5.2.1, could you please try it again?

## Build this project

If you are on macOS or Linux, you can use the following commands to clean and build the project.

    make clean build

If you are on Windows, you can use gradle wrapper to build.

    gradlew.bat clean build

## Use this plugin your project

I've just released a new version 1.0.8 to Maven central, whic

[2019-02-14 11:14] marty-cz commented on #21
It works! Thank you ;)

btw. It is compatible with Gradle 4.6 and probably with 4.9 as well.

[2019-02-15 08:24] jiakuan commented on #21
Thanks for testing it.

[2019-02-15 08:24] #21 closed

[2019-02-25 22:59] anbuck opened #22 "Generated sources not found"
I am using an annotation processor to generate user interface classes, specifically with this library: https://github.com/hal/elemento

When using the old steffenschaefer/gwt-gradle-plugin, it worked. However, when I switch to the jiakuan version of the plugin, the compileGwt task fails because it cannot find the source code of the generated classes, which are in: build/generated/sources/annotatio

[2019-02-26 00:57] jiakuan commented on #22
Do you have a minimum sample project to reproduce the problem? If so, I will have a look.

[2019-02-26 13:51] anbuck commented on #22
Thank you for being willing to take a look at it. However, while creating the minimum sample project, I realized it was gradle 5.2 that was causing the issue, not the gwt plugin. Sorry!!

Thank you so much for updating and maintaining this plugin! I really appreciate it!

[2019-02-26 13:51] #22 closed

[2019-03-04 22:44] E3V3A opened #23 "How to use the gwt-gradle-plugin with Maven migrated build.gradle?"
@jiakuan
Hi Jake,
We're trying to migrate [this project](https://github.com/briangordon/circuitjs1) from Maven to Gradle.
We've been told we need to use a gradle specific plugin, and not the *other* gwt plugins to do this.

After running `gradle init --type pom` on the clone above, we get the following `build.gradle`:

[code]

However, this doesn't generate the expected output (including js files

[2019-03-05 06:14] jiakuan commented on #23
When you build via `./gradlew build` command, what errors did you see? Which version of Gradle are you using?

It should be OK to use `apply plugin` style. In some of my projects, I use both.

Please also try enabling `strict` mode so that you can see more errors:

[code]

[2019-03-05 06:49] axls commented on #23
@E3V3A
For `apply plugin: ...` to work you should add plugin as a dependency to the build script classpath. Add next snippet to the beginning of the `build.gradle`:
[code]

And remove `implementation 'org.wisepersist:gwt-gradle-plugin:1.0.8'` from regular dependencies block. This block forms classpath for `javac`, not for gradle's buildscript.

Also add gwtVersion, as @jiakuan suggested.

[2019-03-05 11:16] E3V3A commented on #23
Yeeeaahy! Now it works! :heart:  :stars:

Thanks for the quick response. I have the latest of everything, but nothing nightly.

[code]

@jiakuan
The problem was that there was no errors, but that the (compiled from java) expected `js` files that should appear in the *site* output dir `target/site/circuitjs1/` , were never created.  Thanks to Alexanders comment it is now working, although they are

[2019-03-05 12:56] E3V3A commented on #23
@jiakuan
You might consider adding the above code snippets to the readme. I know it's already in the doc site, but some people like me stopped reading doc sites...long ago. (Because they are very often outdated, simply wrong or misleading. Not yours though!)

[2019-03-05 14:45] E3V3A opened #24 "How to add the compiler options -style DETAILED"
How do I add the compiler option `-style DETAILED`?

It look like some compiler options has changed:
* http://www.gwtproject.org/doc/latest/DevGuideCompilingAndDebugging.html#DevGuideCompilerOptions

[2019-03-05 15:38] E3V3A commented on #19
BTW. Where are the compiler options parsed?
E.g. I can't see `disableClassMetadata` in any of your code!?

[2019-03-06 02:00] jiakuan commented on #23
@E3V3A This path `build/gwt/out` seems the default standard output folder, as per this line:
https://github.com/jiakuan/gwt-gradle-plugin/blob/58bc3eb9214eaf1739a481bfdcde4feaa83550e8/gwt-gradle-plugin/src/main/java/org/wisepersist/gradle/plugins/gwt/GwtCompilerPlugin.java#L40

You can add the following configuration in your gradle file to copy it to other places as needed:

[code]

@E3V3A This on

[2019-03-06 02:07] jiakuan commented on #24
Please try this:
[code]

[2019-03-06 02:11] jiakuan commented on #19
@E3V3A The option `disableClassMetadata ` is mentioned in this page: http://gwt-gradle-plugin.documentnode.io/setup-and-configuration/quickstart.html

Also in many places in source code, for example:
https://github.com/jiakuan/gwt-gradle-plugin/blob/58bc3eb9214eaf1739a481bfdcde4feaa83550e8/gwt-gradle-plugin/src/main/java/org/wisepersist/gradle/plugins/gwt/AbstractGwtCompile.java#L50

[2019-03-06 12:13] #24 closed

[2019-03-06 12:47] E3V3A commented on #23
@jiakuan

Yeah, copying is what I currently do, but it seem that one should be able to override it with either `-war` or perharps setting the `setBuildDir`, or something?

[code]

---

Also, looking at your raw copy method, it seem a bit overkill, since copying using task *should* be straight forward. However, when trying to do copying using a gradle task, it doesn't seem to work. I tried using:

[2019-03-06 12:47] #23 closed

[2019-03-06 12:51] E3V3A commented on #19
Sorry for the almost dumb question.  :face_with_head_bandage:

I've been trying to search the Github sources, but for some reason the search mechanism is broken. Searching for code snippets that I know is present doesn't return anything. I hope it's just a temporary problem. (I've reported the issue to Github.)

Thanks for your patience.

[2019-03-06 14:49] E3V3A commented on #23
Got it working. Needed to remove the `doLast{}`.
Now everything is great! :+1:

[2019-03-06 15:39] jiakuan commented on #23
Yes, it should be possible to make it a parameter to override the default output folder. But that takes time to change.

Anyway, glad to see it's working for you now!

[2019-03-06 21:56] E3V3A commented on #23
@jiakuan
Yes, being able to set `OUT_DIR = "out";` to something else would have been great and help reduce disk wear of constantly having to delete and copy large blocks of data.
Thanks again for great friendly support!
:1st_place_medal:

[2019-03-07 00:50] jiakuan commented on #23
If we could set `OUT_DIR = "out";` we would also need to think about how to clean the output when we run `./gradlew clean`.

For now, it's in `build` directory, so nothing to worry.

[2019-03-07 11:59] E3V3A commented on #23
That is exactly why it would be useful.
Right now people need to learn how to code both tasks of:
1. Copying `out` to their own directory/path
2. Cleanup of build and/or their own `out` from (1)

Having a simple setting like that would remove at least one of the tasks above.

[2019-03-07 14:07] jiakuan commented on #23
Please feel free to create a new issue for this, and we will look at it again.
Any pull requests are also welcome!

[2019-03-11 19:08] E3V3A opened #25 "Should not create folders in the configuration phase"
It seem that when using the plugin in gradle, but only running a single gradle task, the GWT plugin is fired up anyway and creating folders in the configuration phase. According to gradle docs, nothing like this should happen in the configuration phase. (Sorry I don't have doc refs.)

So when I run this with `gradle showRepos` it automatically creates the "build" directory:
[code]

[2019-03-12 02:03] jiakuan commented on #25
Good finding. But it seems not a showstopper, just a few empty directories created?

Anyway, pull request is welcome :)

[2019-03-12 12:40] E3V3A commented on #25
Not a show stopper (for that simple task), but it is a confusing annoyance when you are trying to use another simple task to determine if a previous compile task has already run successfully and created functional output or not...and to cleanup/remove the build output dirs. (Why create empty directories in the first place?)

I'd love to send you a PR, but I don't understand the code good enough to

[2019-10-31 14:21] f4lco commented on #11
I do not think generating async interfaces necessarily must be intertwined with a build plugin. Consider using an APT code generator: [FACT-Finder/apt-gwt-async](https://github.com/FACT-Finder/apt-gwt-async). Disclaimer: I'm the author.

[2020-01-20 07:04] jaromor opened #28 "Make jvmArgs accessible (Lombok in a linked module)"
I made an attempt to make your example-library project work with Lombok. I failed.
Seems like setting jvmArgs in CompileGwt and GwtDraftCompile (see [this issue](https://github.com/steffenschaefer/gwt-gradle-plugin/issues/104)) might be the cure...? (Also I am not that familiar with Gradle yet.) That field is not public tho, and I am getting warning in Idea, which is probably why the subsequent bu

[2020-01-20 07:21] jaromor commented on #19
(year later, I suppose you resolved your issue long time ago)
Is it possible that you searched in **this** repository only? It seems that unless that code-snippet was committed through particular repository it won't be found in said repo but rather only in the original repo it has been committed to.
Try to expand your search to all GitHub, and your code snippet ought to be found in [steffenschaefe

[2020-01-20 07:42] jaromor opened #29 "Applying gwt-base using the plugins closure"
I was playing around with [the example-library project](https://github.com/jiakuan/gwt-gradle-plugin/tree/master/examples/library), and I was unable to make gwt-base work when applying it the new way, i.e. via the plugins closure.

[code]
What is the correct way please?

I am no Gradle-guru but from what I saw in the source code I could not find anything suspicious in [META-INF/gradle-plugins](htt

[2020-01-20 08:43] jaromor commented on #29
Looking more into the source code, I think I see why gwt-base is not recognized when added via plugins {}:

[gwt-gradle-plugin/build.gradle](https://github.com/jiakuan/gwt-gradle-plugin/blob/master/gwt-gradle-plugin/build.gradle):

[code]

[2020-01-20 23:00] jaromor commented on #28
So apparently exposing the jvmArgs method is indeed all that needed to be done. So far I tested only @Data on the example-library/HelloWorldWidget, seems to be working just fine. :)
I will create a PR tomorrow.

[2020-01-21 00:31] jiakuan commented on #28
I didn't use Lombok with the GWT plugin so far, but sounds great. Look forward to the PR.

[2020-01-21 00:34] jiakuan commented on #29
Good finding. When you test it with your project, would you like to create a PR?

[2020-08-18 08:55] evpaassen opened #32 "Add input and output annotations to task properties"
In order to prepare for Gradle 7.0 and to remove deprecation warnings when used with Gradle 6, task properties need to be annotated with [input and output annotations](https://docs.gradle.org/6.6/userguide/more_about_tasks.html#sec:task_input_output_annotations).

Upgrading to Gradle 6.6 adds a `validatePlugins` task, which yields the following errors:

[code]

If desired, maybe I could try to cre

[2020-08-19 13:07] jiakuan commented on #32
I've fixed all the warnings after upgrading to Gradle 6.6. But the release plugin seems not working on multi-project structure with Gradle 6.
https://github.com/researchgate/gradle-release/issues/330
https://github.com/gradle/gradle/issues/12872

Will need to find a way to get around this.

[2020-08-19 15:37] jiakuan commented on #32
All fixed and released a new version to Maven Central.
Gradle plugin portal will soon be available.

[2020-08-19 15:37] #32 closed

[2020-09-03 11:26] evpaassen opened #33 "'No value has been specified' build errors with 1.1.4"
With version 1.1.4 of the plugin, I'm seeing the following errors when trying to build my project using it (with Gradle 6.6). I didn't set these properties, because I want to rely on the defaults. I'm not sure what causes this, it probably has something to do with the `@Input` annotations that have been added in (#32 / 7c56b95) to address Gradle 6 deprecations?

[code]

[2020-09-03 11:27] evpaassen commented on #32
Thanks you very much for addressing this. Unfortunately, I'm facing build errors in a project that uses the new plugin version. I created a new issue (#33) for it.

[2020-09-04 02:04] jiakuan commented on #33
I've fixed the issues and created a new version 1.1.5
https://plugins.gradle.org/plugin/org.wisepersist.gwt

I tested 1.1.5 with the examples as well as one of my projects, which worked.

Please try 1.1.5 and let me know if it works for you. Thanks.

[2020-09-04 06:25] davidbigham commented on #33
I am seeing the following when running `gwtSuperDev` on `example-super-dev-mode` example:
(current source tag `1.1.5` (but with examples/build.gradle classpath changed to `classpath "org.wisepersist:gwt-gradle-plugin:1.1.5"` from 1.1.5-SNAPSOT)). But maybe this hasn't been kept up to date as `gradle jettyDraftWar` mentioned in example also fails.
[code]

[2020-09-04 07:22] jiakuan commented on #33
Good finding! Thanks for reporting this.
I think it's something similar to what I've fixed in the morning.
I will reopen this issue and fix this one.

[2020-09-04 08:03] jiakuan commented on #33
I've fixed the issue, and now the example gwtSuperDev worked:

[code]

Please try the latest tag:

[code]

As the official Jetty gradle plugin is gone, 'jettyDraftWar' is commented in the example code.

This post (https://stackoverflow.com/a/52684027/746837) mentioned an alternative: https://plugins.gradle.org/plugin/org.gretty, but it will not be handled in this ticket. (I don't use the Jetty plu

[2020-09-04 08:13] davidbigham commented on #33
Thanks very much for the speedy response. Super dev mode working now

[2020-09-04 12:31] evpaassen commented on #33
Awesome work, thanks!

[2020-09-04 19:08] MarkMcCallTR opened #34 "Use Java system properties like java.io.tmpdir"
I have not figured out a way to get the plugin to use System properties that I manually set like java.io.tmpdir.  I have tried the following:

Option 1
System.setProperty('java.io.tmpdir', "c:/mytempdir") // called at top of build.gradle

Option 2
tasks.withType(org.wisepersist.gradle.plugins.gwt.GwtCompile) {
    System.setProperty('java.io.tmpdir', "c:/mytempdir")
}

It continues to use the defa

[2020-09-04 23:09] jiakuan commented on #34
Just enabled configuration for extra JVM arguments. Could you please try the following?

[code]

[2020-09-04 23:10] jiakuan commented on #28
An `extraJvmArgs` property has been added in #34

[2020-09-04 23:14] jiakuan commented on #16
Out of date issue, closing...

[2020-09-04 23:14] #16 closed

[2020-09-04 23:22] jiakuan commented on #19
Seems all resolved for this one.

[2020-09-04 23:22] #19 closed

[2020-09-04 23:31] jiakuan commented on #4
Looks like only two compiler options of GWT 2.9.0 are missing:

[code]

Anyone wants to take the "challenge" to add them? :)

[2020-09-08 13:14] MarkMcCallTR commented on #34
that version of the plugin does not work.  I get the error "Error: Could not find or load main class []".  1.1.6 and prior run without issue.

Plugin declaration:

`plugins {
  id "org.wisepersist.gwt" version "1.1.7-rc"
}`

[2020-09-15 18:23] michael-newsrx opened #35 "1.1.7-RC Regression"
Tried using 1.1.7-RC:

We get:
[code]

Switching back to 1.1.6 and everything is fine.

* Linux
* Gradle 6.6.1
* AdoptOpenJDK 11

[2020-09-16 03:47] jiakuan commented on #34
Fixed. Also tested the `extraJvmArgs` property in `examples/compile-only/build.gradle`.

[code]

Please try with:

`plugins { id "org.wisepersist.gwt" version "1.1.8" }`

[2020-09-16 03:47] #34 closed

[2020-09-16 03:48] jiakuan commented on #35
Fixed.

Please try with: `plugins { id "org.wisepersist.gwt" version "1.1.8" }`

[2020-09-16 03:48] #35 closed

[2020-10-09 11:40] evpaassen opened #36 "Outputs of compileGwt task are polluted"
Since #32 / #33 have been fixed, the outputs of the `compileGwt` task include the work and cache dirs. This leads to a polluted build artifact (jar/war) when these outputs used to package it, as the documentation [shows](https://gwt-gradle-plugin.documentnode.io/setup-and-configuration/project-types):

[code]

The unit cache can grow quite large. In my case it added more than 100MB to the jar.

An

[2020-10-13 00:26] #36 closed

[2020-10-13 12:15] sayaya1090 opened #38 "'No value has been specified' build errors with 1.1.4"
As you know, 'No value has been specified' build errors shown after 1.1.4 or higher like below:

============================================================
Some problems were found with the configuration of task ':gwtDev' (type 'GwtDev').

============================================================

gwtSuperDev task works well but gwtDev remains that issue.

[2020-10-13 23:28] jiakuan commented on #38
Should be similar issues, will check on the weekend.

[2020-10-15 22:58] jiakuan commented on #38
Fixed in 1.1.10

[code]

[2020-10-15 22:58] #38 closed

[2020-11-12 22:40] rakeshk6842 opened #40 "couldn't make it work with jdk11, gradle6.6 and gwt-2.9.0 keep getting below errors"
17:39:32     Loading inherited module 'com.google.gwt.user.User'
17:39:32        Loading inherited module 'com.google.gwt.event.Event'
17:39:32           Loading inherited module 'com.google.gwt.dom.DOM'
17:39:32              Loading inherited module 'com.google.gwt.safehtml.SafeHtml'
17:39:32                 Loading inherited module 'com.google.gwt.http.HTTP'
17:39:32                    Loading i

[2020-11-13 02:56] jiakuan commented on #40
Looks like a classpath conflict?
Are you able to find this class `org/apache/tools/ant/types/ZipScanner` in your classpath?

[2020-11-13 02:57] rakeshk6842 commented on #40
it was there and everything works fine in jdk8 but while trying in jdk11 it's failing

[2020-11-16 08:50] Hollerweger opened #41 "Dev mode fails with NullPointerException in EclipseFileManager.concatFiles"
I get following Exception after running gwt dev mode and opening index_jsp:

[code]

This is my build.gradle setup:

[code]

Running on Windows 10 with Java 1.8.0.202 and gradle 6.7.

Is there something wrong in my build setup?

[2020-11-16 10:29] jiakuan commented on #41
It seems the NPE was thrown while compiling the JSP, not sure if it’s
related to the GWT plugin.

Also I noticed a very old GWT version is being used, perhaps try 2.9.0?
(Although I don’t think it’s related to the NPE)

On Mon, 16 Nov 2020 at 4:51 pm, Martin <notifications@github.com> wrote:

[2020-11-20 21:23] Hollerweger commented on #41
When I run war and deploy the war to a Tomcat then I see following error:
[code]
Do I need to add the gxt client jar also as a normal dependency? I only have it in the gwt one:
`gwt group: 'com.extjs', name: 'gxt', version: '2.3.1a-gwt22'`

[2020-11-20 22:47] jiakuan commented on #41
Looks like com/extjs/gxt/ui/client/data/BeanModelTag is used at runtime, so yes, the dependency needs to be available for compile and runtime.

[2021-02-17 20:39] recunius opened #42 "-Xnamespace argument being added with trailing spaces"
I am trying to set -Xnamespace to NONE but when doing so receive the error  "Unknown argument: -Xnamespace  ".

I believe this might be caused by line 66 of `src/main/java/org/wisepersist/gradle/plugins/gwt/AbstractGwtCompile.java`:

[2021-02-18 00:13] jiakuan commented on #42
Good spot. I've fixed it and released a new version `1.1.11`. Please try again.

https://plugins.gradle.org/plugin/org.wisepersist.gwt

[2021-02-18 00:13] #42 closed

[2021-02-18 02:27] recunius commented on #42
Working, thanks!

[2021-03-22 14:53] eallais opened #43 "Project dependency missing from Gradle classpath"
My project has a transitive dependency to **common-logging:1.2** and for some reasons when I apply the GWT plugin into one of my Gradle subproject, this dependency disappears from the Gradle classpath container (i.e. org.eclipse.buildship.core.gradleclasspathcontainer or Project or External Dependencies).
Because of that I have a NoClassDefFoundError.

Do you have any ideas why do I have this stra

[2021-03-22 22:46] jiakuan commented on #43
Perhaps the best way is to use the Gradle dependencies analysing tool to check why common-logging:1.2 is gone.
https://docs.gradle.org/current/userguide/viewing_debugging_dependencies.html

[2021-03-23 02:39] eallais commented on #43
My issue is that I see this transitive dependency in the dependency graph when I execute the Gradle command.
I have no clue why it disappear only in Eclipse classpath.

[2021-03-23 03:38] jiakuan commented on #43
I don’t use eclipse since many years ago. Sorry cannot help you.

On Tue, 23 Mar 2021 at 10:39 am, Erik Allais ***@***.***>
wrote:

[2021-03-23 03:48] eallais commented on #43
Here is a repository which proves that there is an issue with Eclipse, just in case if you have the possibility to debug
https://github.com/eallais/gwt-gradle-plugin-example

[2021-05-05 13:12] Quicksteve opened #44 "Gradle 7.0"
Trying to use the plugin (version 1.1.11) with Gradle 7.0 results in the following failure:

[code]

[2021-05-05 17:53] aurelien-minvielle commented on #44
Same issue here.
Projects using the GWT plugin can no longer be imported in IDEA with Gradle 7.

The problem comes from the use of `project.afterEvaluate` in `GwtIdeaPlugin`.

It's likely to be related to this Gradle 7 upgrade instructions entry : [Calling Project.afterEvaluate() after project evaluation is now an error](https://docs.gradle.org/current/userguide/upgrading_version_6.html#calling_pr

[2021-05-06 00:52] jiakuan commented on #44
I upgraded this project and its examples to Gradle 7.0. The build seems ok:
https://github.com/jiakuan/gwt-gradle-plugin/actions/runs/815225999

I also upgraded a couple of my other projects that are using `gwt-gradle-plugin:1.1.11` and `idea` plugin. They are all built successfully without problems.

I'm wondering whether it's something we need to fix in the `gwt-gradle-plugin` code?

[2021-05-06 09:10] aurelien-minvielle commented on #44
Running `gradle build` works fine with Gradle 7 and the GWT plugin.

The error happens when importing the project to IDEA.

It can be reproduced on the `examples` sub-project:
- Upgrade to gradle 7: `cd gwt-gradle-plugin/examples && ./gradlew wrapper --gradle-version 7.0`
- Open IDEA
- Add new project `gwt-gradle-plugin/examples/build.gradle`
- Import fails with the following error:
[code]

Import

[2021-05-06 09:17] jiakuan commented on #44
Perhaps we could delete the ‘idea’ related code from the plug-in all
together as IDEA may already have good support on grade now?

On Thu, 6 May 2021 at 5:11 pm, Aurelien Minvielle ***@***.***>
wrote:

[2021-05-06 09:20] aurelien-minvielle commented on #44
I think so, yes.

[2021-05-07 01:14] jiakuan commented on #43
The old eclipse related code has been removed from the plugin and a new version `gwt-gradle-plugin:1.1.12` has been released.

I did a quick test with your example project using the latest `1.1.12`. I can see `common-logging:1.2` now is on the classpath.

![Screen Shot 2021-05-07 at 9 10 34 am](https://user-images.githubusercontent.com/533236/117383885-58dcbc80-af14-11eb-9b83-8d4d908a7e04.png)

[2021-05-07 01:14] #43 closed

[2021-05-07 01:16] #41 closed

[2021-05-07 01:20] jiakuan commented on #44
The Intellij IDEA related code has been removed and a new version `1.1.12` of this plugin has been released.
[code]
Please try and see if it works.

Please feel free to reopen this ticket if there are still any issues.

[2021-05-07 01:20] #44 closed

[2021-05-07 19:17] aurelien-minvielle commented on #44
1.1.12 works fine for me, thanks for the quick release @jiakuan 👍

[2021-05-27 10:33] lluisgener opened #45 "GwtSuperDev refresh does not work"
Hi.

GwtSuperDev just seems to work fine on the first load, but when a page refresh is issued, it complains "Unable to load Super Dev Mode version of XXX".

In Intellij I can see that it's looking for a file that does not exist (because a "null" is prepended to the path and I don't know why).

[code]

build.gradle:

[code]

Is this an error or some configuration related issue?

Thanks in advance.

[2021-05-27 10:47] jiakuan commented on #45
Did you use GWT’s Clean style?

On Thu, 27 May 2021 at 6:33 pm, lluisgener ***@***.***> wrote:

[2021-05-27 10:49] lluisgener commented on #45
Yes, but if I remove it, it happens too, with the XXX.nocache.js file.

[code]

[2021-05-27 11:18] jiakuan commented on #45
Are you able to prepare a minimum test project to reproduce the issue? Then
I will have a look on the weekend.

On Thu, 27 May 2021 at 6:50 pm, lluisgener ***@***.***> wrote:

[2021-05-27 13:09] lluisgener commented on #45
Find attached a very minimal demo.

Launch with gradlew gwtSuperDev (I'm on Windows 10) and browse to http://127.0.0.1:8080/XXX/XXX.html.

"LOADED" should show in the page, and "LOADED IN CONSOLE" in the console.

Refresh with F5 and the error appears. I need to kill super dev and launch it again.

[demo.zip](https://github.com/jiakuan/gwt-gradle-plugin/files/6554178/demo.zip)

Thanks in advance.

[2021-06-07 01:34] jiakuan commented on #45
@lluisgener It seems not a good idea to use the code server as the app web server directly. Normally we would run the code server separately from the app web server. That is, you can run you app web server from IDE, and run the code server from your Terminal (command line).

I tested your code last weekend. I saw the same errors if only the code server was running. But If I ran them separately, ev

[2021-06-07 01:34] #45 closed

[2021-06-07 09:15] lluisgener commented on #45
Hi.

With the new structure, the main difference is that SuperDev binds to default port 9876 instead of 8080. Also, when launching the url that is suggested by the output of the gwtSuperDev task, the index.html is no where to be found (the plugin seems to publish the "public" folder, not the webapp one.

`2021-06-07 11:09:07.699:INFO:oejs.Server:main: jetty-9.2.14.v20151106
2021-06-07 11:09:07.732

[2021-06-07 09:48] jiakuan commented on #45
That’s how we should use the code server. Drag and drop the two compiling
buttons to your browser’s bookmarks bar. Run the web server separately
using IDE or any web server plugin like Jetty.

Please read this doc (http://www.gwtproject.org/articles/superdevmode.html)
to understand how the superDevMode and bookmarklets work.

On Mon, 7 Jun 2021 at 5:15 pm, lluisgener ***@***.***> wrote:

[2021-06-07 10:11] jiakuan commented on #45
Sorry I don’t use Eclipse. I guess it’s error-prone if we use the code
server directly. It’s not its job to serve the content of the web app.

The plug-in code doesn’t contain any IDE code any more, so I couldn’t see
anything to do with the plug-in code.

On Mon, 7 Jun 2021 at 6:00 pm, lluisgener ***@***.***> wrote:

[2021-06-07 17:27] lluisgener commented on #45
It happens that finally I've been able to fix it.

In my html, due to some problems found long ago, I was loading the nocache.js file dynamically, appending a random date as a parameter to skip a cache hit:

`    <script type="text/javascript">
		document.write("<"+"script src='XXX.nocache.js?today=" + new Date().getTime() + "'><"+"/script>");
	</script>`

If I replace this with a static script ta

[2021-06-07 23:06] jiakuan commented on #45
Glad to see it’s fixed.

Normally we could also append timestamp on HTML server side rendering. Or,
configure the Http response header with no-cache.

On Tue, 8 Jun 2021 at 1:27 am, lluisgener ***@***.***> wrote:

[2021-06-16 12:33] blacatena opened #46 ".classpath needs manual fixes"
We recently upgraded our environments to the latest Eclipse release (2021 03) and Gradle (7.1), and are using GWT 2.8.1 with the GWT plugin 3.0.

The end result has several errors that must be fixed manually in .classpath (using the Eclipse UI, but it could be done by editing .classpath) after any build (which is only done when we change any dependencies, otherwise we just code-and-test).

Our pro

[2021-06-16 13:35] blacatena commented on #46
Slight correction... I'd forgotten that we did fix problem 1 through gradle, by adding a destinationDirectory setting to the eclipse {} configuration, so really we are only left with problems 2 and 3, the lack of a proper classpath entry for GWT, and fixing the default output for src/main/java (which I presume can be done with sourceSets, but I just can't get it to work).

[2021-06-17 10:05] jiakuan commented on #46
The latest plugin code doesn’t include anything related to Eclipse any
more. So it will be all configurations in Gradle and Eclipse.

On Wed, 16 Jun 2021 at 9:36 pm, Bob Lacatena ***@***.***>
wrote:

[2021-07-15 08:46] SoltauFintel opened #47 "GWT version is is null or empty."
- Please fix typo in message "GWT version **is is** null or empty.". See GwtVersion.java:64
- Our goal is to omit the code in GwtBasePlugin.java:125-145. Therefore we don't need the above warning. Please find a way to suppress that message for a cleaner Gradle build output. Our original goal is to use our own gwt-servlet library. A way to do it could be to warn about null, but not if it's empty.

[2021-07-20 00:15] jiakuan commented on #47
Any pull requests are welcome.

On Thu, Jul 15, 2021 at 4:47 PM SoltauFintel ***@***.***>
wrote:

[2021-07-20 08:55] SoltauFintel commented on #47
ok ...

[2021-07-20 10:25] SoltauFintel commented on #47
see pull request #48

[2021-07-20 13:28] jiakuan commented on #47
Released new version `1.1.13` to include this.

[2021-07-20 13:28] #47 closed

[2021-07-22 13:10] SoltauFintel commented on #47
org.gradle.api.InvalidUserDataException: No value has been specified for property 'gwtVersion'.

@jiakuan sorry

@ Optional must be added to gwtVersion in GwtPluginExtension.java:32

[2021-07-25 00:32] jiakuan commented on #47
Perhaps it's not a good idea to allow ignoring `gwtVersion`? if we don't need to by some special reason, we explicitly set it to empty string.

[2021-07-25 06:21] SoltauFintel commented on #47
The documentation says that you can omit gwtVersion. I don't know the filename right now. My change made the code match the documentation again.

[2021-07-26 13:27] cdietrich opened #49 "Problem with Gradle 7"
Hi, i am not really experienced with Gradle.
the following code is working fine with older gradle versions
https://github.com/eclipse/xtext-lib/compare/cd_issue387
but not with gradle 7
but it seems to work if i duplicate the dependency like here
https://github.com/eclipse/xtext-lib/compare/cd_gradle6CrapExperiments

[2021-07-26 15:43] jiakuan commented on #47
Sounds good. Will check and update the code on the weekend.

On Sun, 25 Jul 2021 at 2:21 pm, SoltauFintel ***@***.***>
wrote:

[2021-08-02 09:54] SoltauFintel commented on #47
Any news? ;-)

[2021-08-03 14:07] jiakuan commented on #49
At the moment, we have tried with Gradle 7.0 which seems working well.
Not sure if there are any difference in Gradle 7.1.

[2021-08-03 14:12] jiakuan commented on #47
Sorry for the late response.
Have just added `@Optioanl` to `getGwtVersion()` and released a new version `1.1.14`. Could you please try again?

[2021-08-03 14:17] cdietrich commented on #49
i see the problem also with 7.0

[2021-08-03 14:23] jiakuan commented on #49
Looks like related to the Gradle dependency configuration.
Not sure if it's something to do with this plugin?

[2021-08-03 14:24] cdietrich commented on #49
yes i have no idea how the plugin searches the xml

[2021-08-03 14:26] jiakuan commented on #49
That's managed by the GWT compiler, this plugin is just a wrapper around the GWT SDK so that it works with Gradle. The underlying GWT compiler will do the job.

[2021-08-03 14:28] cdietrich commented on #49
i see. but it does not seem to use the jar but just output folders

[code]

so i need to do into the project custom stuff to produce the xml ...

[2021-08-03 23:28] jiakuan commented on #49
Although it's not documented yet, you can also configure `classpath` in `gwt { }`. Please see the source code here:

https://github.com/jiakuan/gwt-gradle-plugin/blob/cea98787fa30255f32fac8fc542ce5af2796b69f/src/main/java/org/wisepersist/gradle/plugins/gwt/AbstractGwtActionTask.java#L52

[2021-08-05 05:45] SoltauFintel commented on #47
Will take a few days before I can do this.

[2021-08-12 14:24] SoltauFintel commented on #47
Does not work with 1.1.14.

\* What went wrong:
A problem was found with the configuration of task ':xxx-webapp:compileGwt' (type 'GwtCompile').
No value has been specified for property 'gwtVersion'.

[2021-08-12 14:39] SoltauFintel commented on #47
Looks like a task error. My guess: add also @Optional on AbstractGwtActionTask.getGwtVersion()

[2021-08-16 05:03] cdietrich opened #50 "Deprecation warning with gradle 7"
With Gradle 7 i get the following deprecation warning

[code]

it looks like the internally create javaexec task uses
main = '...'
whilst
gradle 7 expects a
mainClass = '....'

am not sure if this can be done in a way to support both versions

[2021-08-30 23:12] #50 closed

[2021-08-30 23:19] jiakuan commented on #49
Close for now

[2021-08-30 23:19] #49 closed

[2021-08-30 23:36] jiakuan commented on #47
Added `@Optional` on `AbstractGwtActionTask.getGwtVersion()` too and released `1.1.15`.

[2021-08-31 16:00] SoltauFintel commented on #47
I installed the new version and the build works. But I'm still waiting for the test result from my colleague.

[2021-09-03 10:15] SoltauFintel commented on #47
Test ok

Thank you!

[2021-11-11 10:51] U1F984 opened #53 "Change src PathSensitivity to RELATIVE"
Currently it is set to ABSOLUTE, which prevents sharing with different workspace roots.

[2021-11-11 11:48] jiakuan commented on #53
Any pull requests are welcome.

[2021-11-11 23:37] #53 closed

[2022-01-25 11:18] tequilacat commented on #46
I try to build a gradle-based GWT project from pure Eclipse project, have found this plugin, have similar problems

### the 2:

I have to manually enable GWT for the Eclipse project in GWT settings after each "Refresh gradle project"
Yet I have `Classpath entry com.gwtplugins.gwt.eclipse.core.GWT_CONTAINER will not be exported or published. Runtime ClassNotFoundExceptions may result` warning, stil

[2022-01-28 14:41] psimonazzi opened #56 "Cannot set jsInteropExports when using Draft mode"
It seems impossible to enable jsInteropExport together with Draft mode (not sure if it is a limitation also of the GWT compiler).
Options for jsInteropExports can be set only in the `gwt` extension, not in `draftCompileGwt`.

[code]

[2022-01-29 00:37] jiakuan commented on #56
You can try run the GWT compiler manually via “java -jar” with
jsInteropExport in draft mode and see if it works.

If it works, then something needs to be improved in the plugin.

On Fri, 28 Jan 2022 at 10:42 pm, psimonazzi ***@***.***>
wrote:

[2022-02-09 08:49] psimonazzi commented on #56
The GWT compiler seems to work with these options, so it could be allowed in the plugin too.

[2022-02-13 00:32] jiakuan commented on #56
Thanks for checking this.
If you could dig in the plugin code and create a pull request (should be not hard), that'd the quickest way.
Or, I will have a look when I have a chance.

[2022-04-14 06:41] martonsz opened #59 "I'm having trouble using this plugin with the simple demo application from gwtproject.org/gettingstarted.html"
I'm having trouble using this plugin with the simple demo application from [gwtproject.org/gettingstarted](https://www.gwtproject.org/gettingstarted.html)

After creating the demo application using the [webAppCreator](https://www.gwtproject.org/doc/latest/RefCommandLineTools.html#webAppCreator) and applying a gradle wrapper setup. I don't know how to apply this gradle plugin and rearrange the war/

[2022-04-14 07:15] jiakuan commented on #59
https://github.com/jiakuan/gwt-gradle-plugin/tree/master/examples

Here are many examples about how to use this plugin.

No ant needed, just Gradle instead.

[2022-04-17 09:23] martonsz commented on #59
I have managed to make it work with the demo application. But only if I use jdk 8.

It stops working when I change `sourceCompatibility` and  `targetCompatibility` to jdk 11.

I also tried this:

[code]

[2022-04-17 13:50] jiakuan commented on #59
Did you see any errors?
I will test with Java 11 when I have time.

On Sun, 17 Apr 2022 at 5:23 pm, Márton Szücs ***@***.***>
wrote:

[2022-04-17 16:31] martonsz commented on #59
Sorry for the terrible error report. I will try to make a better one when I'm back at work and my children don't interrupt me :)

The problem I have is that devmode (gwtDev) is not working when using java 11.
The GWT Development Mode GUI starts. But when I click "Launch Default Browser" javascript is not compiled. I get this in the browser;

Error 503

HTTP ERROR: 503
---------------

Problem acce

[2022-04-17 23:48] jiakuan commented on #59
GWT `devmode` has been replaced by `Super Dev Mode`, which works better for modern browsers.

https://www.gwtproject.org/articles/superdevmode.html

Yes, it may need some tweaks to make the dependencies right.

[2022-04-18 06:57] martonsz commented on #59
Both jetty and cargo plugins seem a bit old.

Can you make an example using [gretty](https://github.com/gretty-gradle-plugin/gretty)?

[2022-04-19 10:18] martonsz commented on #59
I managed to make it work with super dev mode using the follwing versions:

- jiakuan/get-gradle-plugin 1.1.18
- gwt 2.9.0
- JDK 11
- Gradle 7.4.2
- gretty 3.0.7

I created a repo for my sample project if someone is interested: https://github.com/martonsz/jiakuan-gwt-gradle-plugin-sample

[2022-04-19 10:18] #59 closed

[2022-04-20 00:48] jiakuan commented on #59
Thanks for arranging the sample project.
I will put it into the examples folder when I get a chance.

[2022-04-20 00:51] jiakuan commented on #40
A sample project of using JDK 11 has been arranged in #59

[2022-05-04 15:22] zbynek opened #60 "Update group ID of GWT artifacts"
As of 2.10 the GWT artifacts will use `org.gwtproject` as group ID, the GWT_GROUP defined in https://github.com/jiakuan/gwt-gradle-plugin/blob/master/src/main/java/org/wisepersist/gradle/plugins/gwt/GwtBasePlugin.java#L54 should no longer be a constant but should depend on the version.

[2022-05-05 01:13] jiakuan commented on #60
Relevant discussions:
https://groups.google.com/g/Google-Web-Toolkit-Contributors/c/VB9YPN55H8M

[2022-06-10 00:17] jiakuan commented on #60
`org.gwtproject:gwt:2.10.0` has been released:
https://github.com/gwtproject/gwt/releases/tag/2.10.0

[2022-07-21 09:28] #60 closed

[2022-08-10 12:09] michael-newsrx opened #63 "Need special logic for GWT package rename."
When specifying gwtSdk as:

[code]

The htmlunit dependency chain is not handled properly when depending on projects such as gwt-material resulting in an incorrect version of Jetty being used for super-dev mode.

I'm guessing this is at least in part due to the package rename.

One has to add `providedCompile "net.sourceforge.htmlunit:htmlunit:2.55.0"` to get superdev mode working.

[2022-08-11 00:53] jiakuan commented on #63
Is there a minimal sample project demonstrating the issue?
What is the expected result? I guess we wanted the `htmlunit` from the GWT dependencies?

[2022-10-15 16:25] pavi2410 commented on #29
If this fixes this, I can open a PR. I don't know how to build Gradle plugins. But I seriously need this

[2022-10-21 01:35] #29 closed

[2022-10-21 01:49] jiakuan commented on #29
Thanks for the PR, which has been merged. A new release has been created for this fix:

[code]

[2022-10-21 07:30] pavi2410 commented on #29
Thanks @jiakuan !

[2022-11-08 09:00] vladikk007 opened #65 "warTemplate duplicate handling strategy"
warTemplate task do not allow to set duplicate strategy.

[code]

It would be great to add the option to set duplicate strategy... Or is there any other solution?

[2022-11-16 12:46] mkm-dt opened #66 "Gradle 8 compatibility"
There are gradle 8 deprecation warnings like these when importing into IDEA:

Resolution of the configuration :foo:gwtSdk was attempted from a context different than the project context. Have a look at the documentation to understand why this is a problem and how it can be resolved. This behaviour has been deprecated and is scheduled to be removed in Gradle 8.0. See https://docs.gradle.org/7.6-rc-

[2022-11-16 21:41] jiakuan commented on #66
Thanks for the pull request, I will have a look shortly.

[2022-11-26 22:37] #66 closed